body{
    text-align: center;
    background: linear-gradient(to left, rgb(46, 3, 114), rgb(83, 10, 143),rgb(46, 3, 114));
    color: white;
    font-size: 1.4rem;
    font-family: sans-serif;
}

input, select, button{
    background-color: pink;
    border-radius: 4px;
    font-size: 1.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}